    .container {
        align-items: center;
    }
    
    .header {
        height: 100vh;
        background-image: url(/IP3/assets/backgrounds/h_img.jpg);
        display: flex;
        flex-direction: column;
        align-items: center;
        background-size: cover;
        color: white;
        padding-top: 17.5%;
    }
    
    .about {
        margin: 80px;
        text-align: center;
        font-size: 16px;
    }
    
    .services {
        height: 50vh;
        background-image: url(/IP3/assets/backgrounds/s_image.jpg);
        display: flex;
        flex-direction: column;
        align-items: center;
        background-size: cover;
        color: white;
        padding-top: 120px;
        padding-bottom: 10px;
    }
    
    .col-md-4 {
        float: right;
        align-items: center;
    }
    
    .col-md-3 img {
        width: 250px;
        margin: 30px;
    }
    
    .row {
        align-items: center;
    }
    
    .contact {
        background-image: url(/IP3/assets/backgrounds/c_image.jpg);
        align-items: center;
    }
    
    footer {
        align-content: center;
    }
    
    .words,
    .words1,
    .words2 {
        display: none;
    }